
h1 {
    font-family:'Times New Roman', Times, serif;
    color: #37a2b8;
    text-align: center;
}

h5 {
    font-family:'Courier New', Courier, monospace;
    color: #e62d20;
    text-align: center;
}

.intro {
    background-color: #e4eef0;
    text-align: center;
}

.navigation {
    text-align: center;
    border-style: dotted;
    border-width: 3px;
    border-color: #cad8db;
    background-color: #d7f0f5;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #e8f7fa;
}

table, th, td {
    border: 1px, solid;
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}

ol {
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}

ul li {
    padding: 5px;
}

ol li {
    padding: 5px;
}

table img {
    max-width: 100px;
}

a:hover {
    color: #9d6ed4;
    font-weight: bold;
}

a:link {
    color: #c2cfc2;
}

a:visited {
    color: #76db58;
}

#miami {
    background-color: #84bdbf
}

#foxborough {
    background-color: #90cfd1
}

select {
    background-color: #cdc6ff;
    text-align: center;
    font-size: 12pt;
}

select:hover {
    font-weight: bold;
}